.submission-form{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #E74C3C;
    padding: 2rem;
    background-color: green;
}

label{
    display: block;
}

textarea{
    display: block;
}