html, body {
  height: 100%;
  width: 100%;
}

body {
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

header {
  background-color: lightblue;
  padding: 20px; 
}

#content {
  padding:20px;
}

input{
  background-color: blue;
  color: white;
  width: 80px;
  height: 30px;
  margin-left: 50px;
  border: 1px solid white;
  font-size: 18px;

}